extends template.pug
block meta
	title Logowanie
	link(rel='stylesheet' href='/css/book.css')
block content
	form(method='post')
		input#email(type='email' placeholder='E-mail' name='email' required='')
		input#password(type='password' placeholder='Hasło' name='password' required='')

		button(type='submit') ZALOGUJ
	p
	a(href='register')
		button NIE POSIADASZ KONTA? ZAREJESTRUJ SIĘ!