extends template.pug
block meta
	title Rejestracja
	link(rel='stylesheet' href='/css/book.css')
block content
	form(method='post')
		h1=message
		input#first_name(type='text' placeholder='Imię' name='first_name' maxlength='40' required='')
		input#last_name(type='text' placeholder='Nazwisko' name='last_name' maxlength='40' required='')
		input#email(type='email' placeholder='E-mail' name='email' required='')
		input#password(type='password' placeholder='Hasło' name='password' required='')
		input#confirm_password(type='password' placeholder='Powtórz hasło' name='confirm_password' required='')

		button(type='submit') ZAREJESTRUJ